USE [master]
GO
/****** Object:  Database [BI_Proj_Airlines_DDS]    Script Date: 12/28/2025 6:58:31 PM ******/
CREATE DATABASE [BI_Proj_Airlines_DDS]
GO
USE [BI_Proj_Airlines_DDS]
GO
/****** Object:  Table [dbo].[Dim_Aircrafts]    Script Date: 12/28/2025 6:58:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Aircrafts](
	[Aircraft_SK] [int] IDENTITY(1,1) NOT NULL,
	[Aircraft_NK] [varchar](20) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Aircraft_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Airlines]    Script Date: 12/28/2025 6:58:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Airlines](
	[Airline_SK] [int] IDENTITY(1,1) NOT NULL,
	[Airline_NK] [varchar](10) NULL,
	[Airline_Name] [varchar](200) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Airline_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Airports]    Script Date: 12/28/2025 6:58:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Airports](
	[Airport_SK] [int] IDENTITY(1,1) NOT NULL,
	[Airport_NK] [varchar](10) NULL,
	[Airport_Name] [varchar](200) NULL,
	[City] [varchar](200) NULL,
	[StateProv] [varchar](100) NULL,
	[Country] [varchar](100) NULL,
	[Latitude] [decimal](10, 6) NULL,
	[Longitude] [decimal](10, 6) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Airport_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_CancellationReasons]    Script Date: 12/28/2025 6:58:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_CancellationReasons](
	[Reason_SK] [int] IDENTITY(1,1) NOT NULL,
	[Reason_NK] [varchar](10) NULL,
	[Reason_Description] [varchar](200) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Reason_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 12/28/2025 6:58:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[Date_SK] [int] IDENTITY(1,1) NOT NULL,
	[FullDate] [date] NULL,
	[Year] [int] NULL,
	[Quarter] [int] NULL,
	[Month] [int] NULL,
	[DayOfMonth] [int] NULL,
	[WeekOfYear] [int] NULL,
	[IsWeekend] [bit] NULL,
	[Season] [nvarchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 12/28/2025 6:58:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[Time_SK] [int] IDENTITY(1,1) NOT NULL,
	[Time_NK] [int] NULL,
	[TimeOfDay] [time](0) NULL,
	[HourOfDay] [int] NULL,
	[MinuteOfHour] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Time_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Flights]    Script Date: 12/28/2025 6:58:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Flights](
	[Flight_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_SK] [int] NULL,
	[Scheduled_Departure_SK] [int] NULL,
	[Scheduled_Arrival_SK] [int] NULL,
	[Departure_Time_SK] [int] NULL,
	[Arrival_Time_SK] [int] NULL,
	[Wheels_Off_SK] [int] NULL,
	[Wheels_On_SK] [int] NULL,
	[Airline_SK] [int] NULL,
	[Aircraft_SK] [int] NULL,
	[Origin_Airport_SK] [int] NULL,
	[Destination_Airport_SK] [int] NULL,
	[Cancellation_Reason_SK] [int] NULL,
	[Flight_Number] [int] NULL,
	[Scheduled_Time] [int] NULL,
	[Elapsed_Time] [int] NULL,
	[Air_Time] [int] NULL,
	[Distance] [int] NULL,
	[Departure_Delay] [int] NULL,
	[Arrival_Delay] [int] NULL,
	[Taxi_Out] [int] NULL,
	[Taxi_In] [int] NULL,
	[Air_System_Delay] [int] NULL,
	[Security_Delay] [int] NULL,
	[Airline_Delay] [int] NULL,
	[Late_Aircraft_Delay] [int] NULL,
	[Weather_Delay] [int] NULL,
	[Diverted] [bit] NULL,
	[Cancelled] [bit] NULL,
	[OTP_PlusMinus5_Flag] [bit] NULL,
	[DelayOver15_Flag] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Flight_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
